@import "../../scss/colors.scss";

.swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  position: unset;
  width: fit-content!important;
  margin: 0;

  &-bullet{
    width: 10px;
    height: 10px;
    min-width: 10px;
    background: #C9C9C9;
    box-sizing: border-box;
    opacity: 1;
    margin: 0!important;

    @media screen and (max-width: 769px) {
      width: 8px;
      height: 8px;
      min-width: 8px;
    }

    &-active{
      width: 14px;
      min-width: 14px;
      height: 14px;
      background: #C8AFE2;
    }
  }
}
