@import "../../scss/colors";

.section-title {


  @media screen and (max-width: 1441px) {
    font-size: 40px;
  }
  @media screen and (max-width: 1024px) {
    font-size: 35px;
    margin-bottom: 40px;
  }
  @media screen and (max-width: 769px) {
    text-align: center;
  }
  @media screen and (max-width: 340px) {
    font-size: 30px;
  }
}
