@import "./colors";

.btn {
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  height: 60px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;

  transition: 0.3s;
  white-space: nowrap;

  @media screen and (max-width: 1441px) {
    font-size: 18px;
    height: 55px;
  }

  @media screen and (max-width: 992px) {
    font-size: 16px;
    height: 50px;
    padding: 10px;
  }

  &:focus {
    outline: none;
  }

  &--white {
    border: 2px solid $purple-lite35;
    color: $black;

    &:hover {
      background-color: $purple;
      border: 2px solid $purple;
      color: $white;
    }
  }

  &--purple {
    background-color: $purple-lite35;
    border: none;
    color: $white;

    &:hover {
      background-color: $purple;
    }
  }
}
